<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Current time</title>
</head>

<body>
    <form action="/result" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="age">Age</label>
        <input type="text" name="age" id="age">
        <input type="submit" value="Submit">
    </form>

</body>

</html>