<header>
</header>

<h2>Our available products</h2>
<div class="row">
    <% for(let product of list){ %>
        <div class="col-3 card border">
            <div class="card-header text-center"><pre>
                product
            </pre>
            </div>
        </div>
        <% } %>
</div>