<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/8ball.js"></script>
    <meta charset="UTF-8">
    <title>8ball</title>
</head>

<body>
    <form id="ask">
        <label for="question">Your Question: </label>
        <input type="text" id="question">

        <input type="submit" value="Ask the Magic 8 Ball">
    </form>
</body>

</html>