<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="/js/cart.js"></script>
    <script src="/js/product.js"></script>
</head>
<body>
<div>
    <h3>Store Products</h4>
    <h5>Click to buy</h2>
    <ul>
        <li><button class="btn btn-light"><a href="/product?id=0">Chips</a></button></li>
        <li><button class="btn btn-light"><a href="/product?id=1">Chocolate</a></button></li>
        <li><button class="btn btn-light"><a href="/product?id=2">Coca-Cola</a></button></li>
    </ul>
    <hr/>
</div>
</body>
</html> 